pipeline/Incremental_pipeline Example.json
{
	"name": "Incremental_pipeline Example",
	"properties": {
		"activities": [
			{
				"name": "Get the High Water MArk Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "wataermark_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get the Record date from DB",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get the High Water MArk Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifieddate) as RecordDate from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLcusrtomerDS",
						"type": "DatasetReference",
						"parameters": {
							"databaseName": "my_db2"
						}
					}
				}
			},
			{
				"name": "Copy Incremental data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get the Record date from DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from saleslt.customer where modifieddate > ''', activity('Get the High Water MArk Date').output.firstRow.new_date,''' and modifieddate <= ''',activity('Get the Record date from DB').output.firstRow.RecordDate, '''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLcusrtomerDS",
						"type": "DatasetReference",
						"parameters": {
							"databaseName": "my_db2"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_CSV_DS",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "Incremtal_Example"
						}
					}
				]
			},
			{
				"name": "update the highwatermark file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Incremental data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select''',activity('Get the Record date from DB').output.firstRow.RecordDate, ''' as new_date from saleslt.customer where customerid=1')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLcusrtomerDS",
						"type": "DatasetReference",
						"parameters": {
							"databaseName": "my_db2"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "wataermark_ds",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-07-06T13:53:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}